@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


/* =========================
   BASIC
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F8F4FC;
    color: #8A7897;
    line-height: 1.7;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}


/* =========================
   NAVIGATION
========================= */

header {
    background: #FFFFFF;
    border-bottom: 1px solid #E6D9EF;

    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    max-width: 1100px;
    margin: auto;

    padding: 18px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Playfair Display', serif;

    font-size: 26px;
    font-weight: 700;

    color: #9270AD;
}

.nav-links {
    display: flex;

    list-style: none;

    gap: 25px;
}

.nav-links a {
    text-decoration: none;

    color: #81758A;

    font-weight: 400;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #9270AD;
}


/* =========================
   HOME
========================= */

.hero {
    min-height: 88vh;

    max-width: 100%;

    padding: 80px 25px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    /* LIGHTER PURPLE */
    background:
        linear-gradient(
            135deg,
            #A98BC7,
            #B79BD2,
            #C6AFE0
        );

    color: white;
}

.hero-text {
    max-width: 750px;
}

.small-text {
    color: #F4EAF9;

    font-weight: 500;

    letter-spacing: 5px;

    margin-bottom: 15px;
}

.hero h1 {
    font-size: 64px;

    line-height: 1.15;

    margin-bottom: 15px;

    color: #FFFFFF;
}

.hero h2 {
    font-family: 'Poppins', sans-serif;

    font-size: 24px;

    font-weight: 